<h1>Students List</h1>
<ul>
  <li><a href="/student/horacio">Horacio</a></li>
  <li><a href="/student/martha">Martha</a></li>
  <li>Yerim</li>
  <li>Luis</li>
  <li>Mattew</li>
  <li>Guillermo</li>
  <li>David</li>
  <li>Tammy</li>
</ul>